body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

button {
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

.player-container {
  display: flex;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 25px;
  text-align:center;
}

.player svg {
  margin: 0 auto;
}

.lives-container {
  display: flex;
  justify-content: center;
}

.controls {
  text-align: center;
}

.choices-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.choices-wrap button {
  margin: 10px;
}

.submit-button {
  background-color: #61dafb;
  display: block;
  margin: 0 auto;
  font-size: 40px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over svg {
  margin-bottom: 25px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
